html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

main {
    padding-bottom: 70px;
}

.page-nav {
    padding-top: 76px;
    padding-bottom: 100px;
}

.site-navigation {
    display: inline-block;
    text-align: center;
    width: 900px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation li:not(:last-child) {
    margin-right: 108px;
}

.site-navigation a {
    text-decoration: none;
    line-height: 16px;
    font-weight: 500;
    font: 14px "PlayfairDisplay", "serif";
    color: rgb(98, 98, 98);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: blue;
}

.features-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0;
}

.features-list-item {
    display: inline-block;
    width: 420px;
    height: 476px;
    margin-right: 60px;
    margin-bottom: 132px;
    margin-top: 0;
    padding: 0;
    font-size: 14px;
}

.features-list-item:nth-child(2n) {
    margin-right: 0;
}

.features-list-item:nth-child(n+5) {
    margin-bottom: 56px;
}

.features-list-item h2 {
    margin-top: 26px;
    margin-bottom: 38px;
    font: 30px "PlayfairDisplay", "serif";
    font-weight: 500;
    color: rgb(98,98,98);
}

.features-list-item p {
    margin-top: 30px;
    font-size: 14px "PlayfairDisplay", "serif";
    color: rgb(98, 98, 98);
}

.button-container {
    display: block;
    width: 900px;
}

.load-button {
    display: block;
    margin: 0 auto;
    padding: 20px 34px;
    background-color: white;
    line-height: 24px;
    font: 20px "PlayfairDisplay", "serif";
    color: rgb(98, 98, 98);
}


