html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

header {
    display: block;
    margin: 0;
}

.logo {
    display: inline-block;
}

/* SITE NAVIGATION */
.page-nav {
    padding: 40px 0;
}

.site-navigation {
    float: right;
    width: 470px;
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 11px;
    list-style: none;
}

.site-navigation a {
    display: block;
    font-weight: 600;
    font-family: "MyriadPro Regular", "Cambria", "serif";
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 32px;
}

.site-navigation li {
    float: left;
}

.site-navigation li:not(:last-child) {
    margin-right: 34px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: rgb(26, 188, 156);
}

/* SLIDER SECTION */
.slider {
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../img/slider_pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-ctrl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 104px;
    height: 104px;
    background-color: rgba(26, 188, 156, 0.5);
    color: white;
    font-size: 60px;
    line-height: 32px;
    font-weight: 400;
}

.slider-ctrl:hover,
.slider-ctrl:focus {
    background-color: rgba(26, 188, 156, 0.8);
}

.slider-ctrl-prev {
    left: 245px;
}

.slider-ctrl-next {
    right: 245px;
}

.slider-overlay {
    position: absolute;
    width: 100%;
    height: 600px;
    background-size: cover;
}

.slider-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-overlay-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    height: 130px;
    width: 800px;
    color: white;
    text-transform: uppercase;
}

.slider-overlay-title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-family: "Roboto Black", "Cambria", "serif";
    line-height: 82px;
}

.slider-overlay-descr {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: "Roboto Light", "Cambria", "serif";
    line-height: 54px;
}

.slider-overlay:hover .slider-overlay-text {
    display: block;
}

/* SECTION 2 */
.section_2 {
    display: block;
    margin: 0 auto;
    padding: 0px;
    padding-top: 100px;
    list-style: none;
    background-color: rgb(233, 240, 253);
}

.section_2 h2 {
    margin: 0;
    margin-bottom: 130px;
    font: 48px "Roboto Black", "Cambria", "serif";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: rgb(81, 81, 81);
}

.section_2 h2::after {
    display: block;
    content: "";
    margin: 30px auto 0px;
    width: 164px;
    height: 6px;
    background-color: rgb(26, 188, 156);
}

/* FEATURES SECTION */
.features-list {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}

.features-list-item {
    position: relative;
    float: left;
    width: 254px;
    height: 322px;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 100px;
    list-style: none;
}

.features-list-item:nth-child(4n) {
    margin-right: 0px;
}

.figure {
    position: absolute;
    padding: 0;
}

.features-pic {
    background-color: #e9f0fd;
    width: 254px;
    height: 282px;
}

.name,
.price {
    display: block;
    float: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 18px;
    font-family: "Roboto Black", "Cambria", "serif";
}

.name {
    padding-right: 62px;
    padding-left: 12px;
    background-color: #323232;
    width: 200px;
    height: 40px;
}

.price {
    display: block;
    padding: 10px;
    padding-left: 10px;
    background-color: #8c8c8c;
    width: 54px;
    height: 40px;
}

.features-list li:hover .name {
    background-color: rgb(26, 188, 156);
}

.features-list li:hover .price {
    background-color: rgb(127, 217, 199);
}

.features-list-item {
    cursor: pointer;
}

/* CARD SECTION */
.card {
    position: relative;
}

.card-overlay {
    position: absolute;
    top: 11px;
    left: 10px;
    width: 235px;
    height: 261px;
}

.card-overlay:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.btn-list {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 166px;
    height: 108px;
    margin: 0;
    padding: 0;
}

.card-overlay:hover .btn-list {
    display: block;
}

.btn-list li {
    display: inline-block;
    margin: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0;
}

.btn-list li:nth-child(3n) {
    margin-right: 0px;
}

.btn-list li:nth-child(4n) {
    margin-right: 0px;
    margin-bottom: 0px;
}

.btn-list a {
    position: absolute;
    border: 1px solid white;
    background-repeat: no-repeat;
}

.purchase-btn {
    width: 50px;
    height: 50px;
    background-position: center;
}

.purchase-btn:hover {
    background-color: rgb(127, 217, 199);
}

.heart {
    background-image: url(../img/heart.png);
    top: 0;
    right: 0;
}

.arrows {
    background-image: url(../img/arrovs.png);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.clock {
    background-image: url(../img/clock.png);
    top: 0;
    left: 0;
}

.add-to-cart-btn {
    position: relative;
    bottom: 0;
    right: 0;
    width: 166px;
    height: 50px;
}

.basket {
    background-image: url(../img/basket.png);
    position: absolute;
    top: 10px;
    left: 12px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

.btn-descr-pic {
    background-image: url(../img/add-to-cart.png);
    position: absolute;
    top: 18px;
    left: 60px;
    width: 116px;
    height: 50px;
    background-repeat: no-repeat;
}

.add-to-cart-btn:hover {
    background-color: rgba(50, 50, 50, 0.7);
}

/* FOOTER SECTION */
.footer-info {
    display: block;
    position: relative;
    width: 100%;
    height: 88px;
    margin: 0;
    padding: 0;
    background-color: black;
}

.footer-block {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.footer-link {
    color: white;
}

.footer-link:hover,
.footer-link:focus {
    color: rgb(127, 217, 199);
}