.team-member__name {
    margin: 0;
    margin-bottom: 6px;
    font-family: $main-font-body;
    font-size: 14px;
    color: $main-color-black;
    text-transform: uppercase;
}

.team-member__position {
    margin: 0;
    font-family: $main-font-body;
    font-size: 15px;
    line-height: 24px;
    font-style: oblique;
    color: $secondary-color-grey;
}
