$overlay-bg-color-red: rgba(243, 129, 129, 0.8);

$overlay-bg-color-yellow: rgba(252, 227, 138, 0.8);

$main-color-white: white;

$main-color-black: black;

$secondary-color-grey: rgb(153, 153, 153);

$secondary-color-card: rgb(155, 214, 206);

$main-font-title: "Montserrat", "Cambria", "sans-serif";

$main-font-body: "Roboto", "Cambria", "sans-serif";

$secondary-font-title: "Kaushan Script", "Cambria", "sans-serif";