html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.link {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* HEADER */
.page-header {
    min-height: 1000px;
    background-image: 
    -webkit-gradient(linear, left top, left bottom, from(rgba(233, 136, 132, 0.8)), to(rgba(239, 215, 137, 0.8))), 
    url(../img/header/banner.jpg);
    background-image: 
    -o-linear-gradient(top, rgba(233, 136, 132, 0.8), rgba(239, 215, 137, 0.8)), 
    url(../img/header/banner.jpg);
    background-image: 
    linear-gradient(to bottom, rgba(233, 136, 132, 0.8), rgba(239, 215, 137, 0.8)), 
    url(../img/header/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100px;
    margin-bottom: 126px;
}

.site-logo {
    display: inline-block;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 490px;
    min-height: 30px;
}

.site-navigation__link {
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat", "Cambria", "sans-serif";
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    -webkit-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
    color: rgb(252, 227, 138);
}

.site-navigation__link::after {
    display: none;
    content: "";
    height: 3px;
    background-color: rgb(252, 227, 138);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    -o-transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.site-navigation__link:hover::after {
    display: block;
}

.header-info {
    display: block;
    margin: 0 auto;
    width: 820px;
}

.header-info__title {
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
    text-align: center;
    font-size: 72px;
    font-family: "Kaushan Script", "Cambria", "sans-serif";
    font-weight: 400px;
    color:white;
}

.header-info__moto {
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    line-height: 140px;
    font-family: "Montserrat", "Cambria", "sans-serif";
    font-weight: 900px;
    color:white;
}

.header-info__button {
    width: 158px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Montserrat", "Cambria", "sans-serif";
    font-weight: 400;
    color:white;
    border: 2px solid transparent;
}

.header-info__button:hover {
    border: 2px solid white;
}

/* SECTION */
.section-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section__head {
    text-align: center;
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    font-family: "Kaushan Script", "Cambria", "sans-serif";
    color: black;
}

.section__title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-family: "Roboto", "Cambria", "sans-serif";
    color: black;
}

.section__title::after {
    display: block;
    content: "";
    width: 60px;
    height: 4px;
    margin: 40px auto 0px;
    background-color: rgb(243, 129, 129);
}

/* SERVICES */
.services {
    padding-top: 52px;
    padding-bottom: 84px;
}

.services__title {
    margin-bottom: 106px;
}

.services__item {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 382px;
            flex: 0 0 382px;
    padding-left: 82px;
    margin-bottom: 92px;
}

.services__item:nth-child(n+4) {
    margin-bottom: 0px;
}

.services__item:before {
    position: absolute;
    top: 0;
    left: 16px;
    display: block;
    content: "";
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.services__icon--alarm::before {
    background-image: url(../img/icons/alarm.png);
}

.services__icon--line_graph::before {
    background-image: url(../img/icons/line_graph.png);
}

.services__icon--computer::before {
    background-image: url(../img/icons/computer.png);
}

.services__icon--book::before {
    background-image: url(../img/icons/book.png);
}

.services__icon--home::before {
    background-image: url(../img/icons/home.png);
}

.services__icon--image::before {
    background-image: url(../img/icons/image.png);
}

.services__item--title {
    margin-bottom: 12px;
    font-size: 14px;
    font-family: "Roboto", "Cambria", "sans-serif";
    text-transform: uppercase;
    color: black;
    text-align: left;
}

.services__item--text {
    font-size: 15px;
    line-height: 24px;
    font-family: "Roboto", "Cambria", "sans-serif";
    color: rgb(153, 153, 153);
    text-align: left;
}

/* TEAM */
.team {
    padding-bottom: 78px;
}

.team__title {
    margin-bottom: 88px;
}

.team__description {
    display: inline-block;
    width: 950px;
    text-align: center;
    margin: 0 125px 90px;
    font-family: "Roboto", "Cambria", "sans-serif";
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
}

.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 380px;
            flex: 0 0 380px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.team__item {
    width: 380px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.team__card {
    position: relative;
    background-color: rgb(155, 214, 206);
}

.team__card--img {
    width: 380px;
    height: 470px;
    margin-bottom: 28px;
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    -o-transition: transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.card-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;
    -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
    transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
    -o-transition: opacity 0.2s linear, transform 0.2s linear;
    transition: opacity 0.2s linear, transform 0.2s linear;
    transition: opacity 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(241, 210, 138, 0.7)), to(rgba(241, 145, 139, 0.7)));
    background-image: -o-linear-gradient(bottom, rgba(241, 210, 138, 0.7), rgba(241, 145, 139, 0.7));
    background-image: linear-gradient(to top, rgba(241, 210, 138, 0.7), rgba(241, 145, 139, 0.7));
    z-index: 1;
}

.team__card:hover .team__card--img {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

.team__card:hover .card-overlay {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    opacity: 1;
}

.card-overlay__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 224px;
    height: 58px;
}

.card-overlay__link {
    display: none;
    width: 58px;
    height: 58px;
    padding: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(252, 227, 138);
    -webkit-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.card-overlay:hover .card-overlay__link {
    display: block;
}

.card-overlay__link:hover {
    background-color: rgb(243, 129, 129);
}

.card-overlay__svg {
    width: 26px;
    height: 26px;
    fill: rgb(243, 129, 129);
}

.card-overlay__link:hover .card-overlay__svg {
    fill: white;
}

.team-member__name {
    margin: 0;
    margin-bottom: 6px;
    font-family: "Roboto", "Cambria", "sans-serif";
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.team-member__position {
    margin: 0;
    font-family: "Roboto", "Cambria", "sans-serif";
    font-size: 15px;
    line-height: 24px;
    font-style: oblique;
    color: rgb(153, 153, 153);
}

/* FOOTER */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 64px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid lightgray;
}

.footer__text {
    font-size: 14px;
    font-family: "Roboto", "Cambria", "sans-serif";
    color: black;
}

.footer__text--span:hover,
.footer__text--span:focus {
    color: rgb(243, 129, 129);
}

[placeholder] {
    font-family: "Roboto", "Cambria", "sans-serif";
    font-style: oblique;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
}

[value] {
    font-family: "Roboto", "Cambria", "sans-serif";
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

.footer__form--text {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 230px;
    height: 40px;
}

.footer__form--btn {
    margin: 0;
    border: none;
    width: 150px;
    height: 40px;
    background-color: rgb(149, 225, 211);
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {

    .page-header {
        background-image: 
        -webkit-gradient(linear, left top, left bottom, from(rgba(233, 136, 132, 0.8)), to(rgba(239, 215, 137, 0.8))), 
        url(../img/header/banner@2x.jpg);
        background-image: 
        -o-linear-gradient(top, rgba(233, 136, 132, 0.8), rgba(239, 215, 137, 0.8)), 
        url(../img/header/banner@2x.jpg);
        background-image: 
        linear-gradient(to bottom, rgba(233, 136, 132, 0.8), rgba(239, 215, 137, 0.8)), 
        url(../img/header/banner@2x.jpg);
    }

    .services__icon--alarm::before {
        background-image: url(../img/icons/alarm@2x.png);
    }
    
    .services__icon--line_graph::before {
        background-image: url(../img/icons/line_graph@2x.png);
    }
    
    .services__icon--computer::before {
        background-image: url(../img/icons/computer@2x.png);
    }
    
    .services__icon--book::before {
        background-image: url(../img/icons/book@2x.png);
    }
    
    .services__icon--home::before {
        background-image: url(../img/icons/home@2x.png);
    }
    
    .services__icon--image::before {
        background-image: url(../img/icons/image@2x.png);
    }
}